/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.show-print-only {
  display: none !important;
}

@font-face {
  font-family: LittleLordFontleroy;
  src: url(LittleLordFontleroyNF.ttf);
}

.name {
  float: left;
  font-family: LittleLordFontleroy;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 13px;
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  background-color: goldenrod;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  /* text-align: center; */
}

.fa {
  font-size: 24px;
}

.menu-bar {
  width: 35px;
  height: 15px;
  border: solid black;
  margin: 6px 0;
  cursor: pointer;
}

.screen {
  float: right;
  list-style: none;
  margin-top: 20px;
}

.navlist li {
  width: auto;
  padding: 5px 10px;
  cursor: pointer;
  color: navy;
  font-size: 18px;
  font-weight: bolder;
  display: inline;
}

.navlist :hover {
  color: white
}

.navlist li a:visited {
  color: navy;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

header {
  background: rgba(0, 0, 0, 0) url("images/landscape.jpg") no-repeat bottom center;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}

header h1 {
  position: absolute;
  bottom: 1%;
  right: 1%;
  color: white;
  text-align: left;
  font-size: 15px;
}

.slogan {
  font-size: 18px;
  
}

.logo {
  display: inline;
  width: 90px;
  margin: 6px 0;
  float: left;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

main {
  display: block;
  text-align: center;
}

section {
  background-color: ghostwhite;
  display: block;
  min-height: 119px;
  width: 100%;
  padding: 70px 0;
  border-spacing: 20px;
}

.section-intro {
  padding-left: 95px;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid goldenrod;
}

.section-intro .fa {
  font-size: 24px;
  padding-right: 10px;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile {
  background-color: rgb(94, 94, 94);
  color: goldenrod;
  display: inline-block;
}

#introduction {
  text-align: left;
  display: inline-block;
  width: 48%;
  margin-right: 0.5%;
  margin-bottom: 1rem;
  vertical-align: top; 
}

h2 .fa {
  font-size: 24px;
}

.picture {
  width: 28%;
  padding-bottom: 10px;
  margin-right: 20px;
  float: right;
}

.picture img{
  width: 100%
}

.skills-list {
  width: 100%;
  padding: 1rem;
  text-align: center;
  display: grid;
  flex-flow: column wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.skills-list img {
  width: 70%;
  height: 70%;
}

.projects {
  background-color: rgb(94, 94, 94);
  color: gold;
  font-size: 16px;
  margin: 0 auto
}

.wrapper h2 {
  padding-bottom: 55px;
  text-align: left;
}

section.projects li.preview-box {
  margin-bottom: 5%;
  margin-top: 2%;
  border-bottom: 1px solid #ccc;
}

/* .preview-box{
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1pt solid;
  margin-bottom: 25px
} */

.preview-box img {
  width: 70%;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* .project-info {
  width: 100%;
} */

.project-info {
  display: inline-block;
  width: 48%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1rem;
  vertical-align: top;
  padding-top: 100px;
  padding-left: 20px;
}

.skills-used{
  margin-top: 15px;
  margin-bottom: 15px;
}

.skills-used li {
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  margin: 5px;
  list-style: none;
  border: 1px solid navy;
  border-radius: 5px;
}

.project-info a {
  color: orange;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  background-color: navy;
  border: 20px;
  padding: 10px 15px
}

.project-info a:hover {
  color: white;
}

.button-wrapper{
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  display: inline-block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  min-width: 100%;
}

.link-list {
  list-style: none;
}

.link-list :hover {
  color: white
}

.link-list li {
  display: inline-block;
  width: auto;
  padding: 10px 35px;
  font-size: 12px;
  color: navy;
}

.link-list li a {
  text-decoration: none;
  font-size: 45px;
}

.link-list li a:visited {
  color: navy;
}

ul.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
  display: inline-block;
  background-color:  rgb(94, 94, 94);
  color: gold;
  width: 100%;
  position: relative;
  bottom: 0;
  right: 0;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

/*large desktop*/

@media only screen and (max-width: 1600px) {
  /* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/
  body {
    border: 3px solid yellow;
  }
  /* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

/*iPad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
  /* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/
  body {
    border: 3px solid blue;
  }
  /* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
  /* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/
}

.project-info {
  display: inline-block;
  width: 48%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1rem;
  vertical-align: top;
  padding-top: 50px;
  padding-left: 20px;
}

/*iPad potrait*/

@media only screen and (max-width: 768px) {
  /* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/
  body {
    border: 3px solid red;
  }
  /* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
  .menu-bar {
    display: none;
  }
  .screen {
    margin-top: 0;
  }
  .nav {
    width: 100%;
    background-color: goldenrod;
    position: fixed;
    z-index: 1;
    display: inline-block;
  }
  .navlist {
    display: inline-block;
    list-style: none;
    margin-top: 20px;
  }
  .screen {
    display: block;
  }
  .navlist li {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    cursor: pointer;
    color: navy;
    font-size: 22px;
    font-weight: bolder;
  }
  .navlist li .full {
    font-size: 10px;
  }
  .navlist li .full span {
    display: none;
  }
  .navlist li:last-child {
    margin-right: 45px;
  }
  .navlist li a:visited {
    color: navy;
  }
  .slogan {
    font-size: 39px;
  }
  /* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/
  section {
    background-color: ghostwhite;
    display: block;
    width: 100%;
    padding: 6% 0;
    border-spacing: 20px;
  }
  .photograph {
    width: 20%;
    float: right;
    margin-left: 40px;
  }
  .preview-box img {
    width: 50%;
    padding-left: 30px;
    padding-bottom: 90px;
  }
  .link-list li {
    display: inline-block;
    width: auto;
    padding: 10px 35px;
    font-size: 100px;
    color: navy;
  }
}

/*Android landscape*/

@media only screen and (max-width: 640px) {
  /* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/
  body {
    border: 3px solid pink;
  }
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.photograph {
  width: 16%;
  float: right;
  margin-left: 40px;
}

.preview-box img {
  width: 50%;
  padding-left: 30px;
  padding-bottom: 0px;
}

.project-info {
  display: inline-block;
  width: 48%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1rem;
  vertical-align: top;
  padding-top: 50px;
  padding-left: 20px;
}

/*iPhone landscape*/

@media only screen and (max-width: 480px) {
  /* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/
  body {
    border: 3px solid green;
  }
  /* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

.navlist{
  margin-top: 0;
  }

  .screen{
    float: left;
  }

  /* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

  .preview-box img{
    padding-left: 0;
    width: 80%;
  }
 
  .project-info{
    width: 250px;
  }

  .skills-used{
    display: flex;
    align-items: center;
  }

  .description{
    padding-bottom: 15px;
  }
}

/*iPhone portrait*/

@media only screen and (max-width: 320px) {
  /* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/
  body {
    border: 3px solid purple;
  }
  .wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .button-wrapper {
    width: 150px;
  }
  /* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
  .name {
    font-size: 24px;
  }
  .screen {
    margin-top: 10px;
  }
  /* .navlist .fa{
    font-size: 7px;
  } */
  /* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/
  .preview-box img {
    width: 30%;
    padding-left: 30px;
    padding-bottom: 0px;
  }
  .project-info {
    display: inline-block;
    width: 48%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1rem;
    vertical-align: top;
    padding-top: 100px;
    padding-left: 20px;
  }
}