*{
    box-sizing: border-box 
   }
   
   main{
     background-color: gray;
     padding: 40%;
     display: inline-block; 
   }
   
   div {
     width: 35px;
     height: 5px;
     background-color: black;
     margin: 6px 0;
     cursor: pointer
   }
   
   .screen{
     display: none
   }
   
   .link-list{
     list-style: none;
     display: none;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: grey;
     width: 25%
   }
   
   footer h2{
     margin-left: auto;
     margin-right: auto
   }
   
   header{
     float: right
   }
   
   footer{
     display: inline-block;
     background-color: gainsboro;
     width: 100%;
     position: relative;
     bottom: 0;
     right: 0
   }
   
   ul.socials{
     display: flex;
     flex-direction: row;
     justify-content:  space-evenly;
   }
   
   section{
    background-color: ghostwhite;
    display: block;
    min-height: 200px;
    width: 200px;
    padding: 6% 0;
    border-spacing: 20px
  }
  
  .message{
    width: 200px;
    height: 100px
  }
   
   
   @media only screen and (min-width: 768px){
   div{
     display: none
   }
   
   .phone{
     display: none
   }
   
   .screen{
     display: inline-flex;
      background-color: gainsboro;
      width: 100%;
   }
   
   .link-list{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     cursor: pointer;
     border-right: solid black;
     background-color: gainsboro
   }